.body {
  font-family: Arial, sans-serif;
  background-color: #193149;
  color: #d0dfef;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  text-align: center;
  background-color: #193149;
  color: #d0dfef;
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  background-color: #7895b2;
  width: 100%;
  display: flex;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-content {
  background-color: #193149;
  width: 100%;
  display: flex;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  text-align: center;
  background-color: #193149;
  color: #d0dfef;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side-by-side {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20vw;
}

/* Link styling */
.styled-link {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 20px;
  font-size: 1rem;
  color: #d0dfef;
  background-color: #406882;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.styled-link:hover {
  background-color: #1e4a63;
  transform: scale(1.05);
}

.styled-link:active {
  background-color: #163542;
  transform: scale(1);
}

/* Link styling */
.home-link {
  display: inline-block;
  top: 4px;
  left: 4px;
  position: absolute;

  padding: 12px 24px;
  font-size: 1rem;
  color: #d0dfef;
  background-color: #406882;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-link:hover {
  background-color: #1e4a63;
  transform: scale(1.05);
}

.home-link:active {
  background-color: #163542;
  transform: scale(1);
}

.right-link {
  display: inline-block;
  top: 4px;
  right: 4px;
  position: absolute;

  padding: 12px 24px;
  font-size: 1rem;
  color: #d0dfef;
  background-color: #406882;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.right-link:hover {
  background-color: #1e4a63;
  transform: scale(1.05);
}

.right-link:active {
  background-color: #163542;
  transform: scale(1);
}














delete{
	height:5px;
}

body {
  font-family: Arial;
}

h1{
  font-size: 1.7em;
}

h2{
  font-size: 1.2em;
}

#kopf_links {
  float: left;
  margin: 5px;
  margin-right: 20px;
}

#kopf_rechts {
  height:130px;
}
/*
table#artikel {
        width: 95%;
        background-color: lightgrey;
        margin-left:30px;
        border-spacing: 23px;
        border: inset 1px;
}

table#artikel th {
        color: white;
        background-color: black;
        font-size:120%;
}

table#artikel td {
        font-variant: small-caps;
        border: inset 1px;
}

td.spalte1 {
        background-color: lightblue;
}
*/
p#fussnote {
  font-size: 0.7em;
}

table.artikel {
  border-collapse: collapse;
}

th, td {
  border: 1px solid grey;
  padding: 3px;
  padding-left: 8px;
}

th {
  text-align: left;
  background-color: #CCC;
}

tr.ungerade {
  background-color: #EEE;
}

tr.gerade {
  background-color: #FFF;
}

td.bild img {
  height: 100px;
  width: 100px;
}
img{
  height: 20px;
  width: 20px;
}

td.nr {
  background-color: lightblue;
}
